<div class="new-products">
		<div class="container">
			<h3>New Products</h3>
			<div class="agileinfo_new_products_grids">
				<div class="col-md-3">
					<div class="agile_ecommerce_tabs">
						<div class="hs-wrapper">
							<img src="{{ url_for('static', filename = 'images/17.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/23.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/24.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/25.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/26.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/25.jpg')}}" class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="simpleCart_shelfItem">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">

							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="agile_ecommerce_tabs">
						<div class="hs-wrapper">
							 <img src="{{ url_for('static', filename = 'images/23.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/27.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/28.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/29.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/30.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/31.jpg')}}" class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="simpleCart_shelfItem">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">

							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="agile_ecommerce_tabs">
						<div class="hs-wrapper">
							   <img src="{{ url_for('static', filename = 'images/27.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/32.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/33.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/34.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/35.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/36.jpg')}}" class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="simpleCart_shelfItem">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">

							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="agile_ecommerce_tabs">
						<div class="hs-wrapper">
							<img src="{{ url_for('static', filename = 'images/37.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/38.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/39.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/40.jpg')}}" class="img-responsive" />
                                        <img src="{{ url_for('static', filename = 'images/41.jpg')}}" class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>

						<div class="simpleCart_shelfItem">

							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">

							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


