<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	        function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fasthover.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
        <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-3.1.1.min.js') }}"></script>




        <script type="text/javascript">

            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
                $("[data-target=#myModal9]").on("click", function(){
                    $(".product_description").empty();
                    $(".product_link").empty();


                    var description = $(this).data("title");
                    var newDescription = "";
                    $.each(description.split("\n"), function(_, line){
                        newDescription = newDescription + "<br/>" + line;
                    });
                    $(".product_description").html(newDescription);

                    $(".product_link").html($(this).data("link"));
                    $(".product_id").html($(this).data("id"));

                    var p=$(this).data("pic");
                    $(".product_pic").prepend('<img src="'+ p +'" />');

                    var lin=$(this).data("link")

                    $("#btnSubmit").button().click(function(){
                    //alert("button");
                    location.replace(lin);
                });
                });
            });




        </script>
    </head>
    <body>
    <div class="search col-md-1 col-md-push-8">
        <input class="search_box" type="checkbox" id="search_box">
        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
        <div class="search_form">
            <form action="/search" method="post">
                <input type="text" name="Search" placeholder="Search...">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
        {%  include 'includes/_header.html' %}
        {%  include 'includes/_navbar.html' %}

         <div class="container">
            {% block body %}{% endblock %}
         </div>



    </body>
</html>